extends ../layout

block content
    .ui.text.container.basic.segment
        form.ui.segment.form(method='post' action='/contact/add')
            .field
                label(for='add[name][nickname]') Nazwa kontaktu
            .field
                input(type='text' name='add[name][nickname]' id='add[name][nickname]' placeholder='Nazwa kontaktu (pseudonim)')
            .two.fields
                .field
                    input(type='text' name='add[name][first]' id='add[name][first]' placeholder='Imię')
                .field
                    input(type='text' name='add[name][second]' id='add[name][second]' placeholder='Nazwisko')
            .ui.divider
            .two.fields
                .field
                    label(for='add[numbers][0][num]') Numer telefonu
                .field
                    label(for='add[numbers][0][type]') Rodzaj
            - for (var i = 0; i < 5; i++)
                .two.fields
                    .field
                        input(type='tel' name='add[numbers]['+i+'][tel]' id='add[numbers]['+i+'][tel]' placeholder='Wpisz numer telefonu')
                    .field
                        select.ui.dropdown(name='add[numbers]['+i+'][type]' id='add[numbers]['+i+'][type]')
                            option(value='') Wybierz rodzaj
                            option(value='0') Komórka
                            option(value='1') Służbowy
                            option(value='2') Domowy
                            option(value='3') Główny
                            option(value='4') Faks służbowy
                            option(value='5') Faks domowy
                            option(value='6') Pager
                            option(value='7') Inny
            .ui.divider
            .field
                label(for='add[emails][0][email]') Adres e-mail
            - for (var i = 0; i < 5; i++)
                .field
                    input(type='email' name='add[emails]['+i+'][email]' id='add[emails]['+i+'][email]' placeholder='Wpisz adres email')
            .ui.divider
            .field
                label(for='add[address][address1]') Adres kontaktowy
            .field
                input(type='text' name='add[address][address1]' id='add[address][address1]' placeholder='Adres kontaktowy')
            .field
                input(type='text' name='add[address][address2]' id='add[address][address2]' placeholder='c.d.')
            .two.fields
                .four.wide.field
                    input(type='text' name='add[address][postcode]' id='add[address][postcode]' placeholder='00-000')
                .twelve.wide.field
                    input(type='text' name='add[address][city]' id='add[address][city]' placeholder='Miejscowość')
            .ui.divider
            .field
                label(for='add[job][position]') Praca
            .two.fields
                .field
                    input(type='text' name='add[job][position]' id='add[job][position]' placeholder='Stanowisko')
                .field
                    input(type='text' name='add[job][company]' id='add[job][company]' placeholder='Firma')
            .ui.divider
            button.ui.positive.fluid.button(type='submit') Dodaj kontakt
                i.right.add.icon
