extends ../layout

block content
    .ui.text.container.basic.segment
        if contact
            form.ui.segment.form(method='post' action='/contact/edit/'+contact.id)
                .field
                    label(for='add[name][nickname]') Nazwa kontaktu
                .field
                    - let nickname = (contact.name.nickname) ? contact.name.nickname : ''
                    input(type='text' name='add[name][nickname]' id='add[name][nickname]' placeholder='Nazwa kontaktu (pseudonim)' value=nickname)
                .two.fields
                    .field
                        - let firstname = (contact.name.first) ? contact.name.first : ''
                        input(type='text' name='add[name][first]' id='add[name][first]' placeholder='Imię' value=firstname)
                    .field
                        - let secondname = (contact.name.second) ? contact.name.second : ''
                        input(type='text' name='add[name][second]' id='add[name][second]' placeholder='Nazwisko' value=secondname)
                .ui.divider
                .two.fields
                    .field
                        label(for='add[numbers][0][num]') Numer telefonu
                    .field
                        label(for='add[numbers][0][type]') Rodzaj
                - for (var i = 0; i < 5; i++)
                    .two.fields
                        .field
                            - let num = (contact.numbers[i] && contact.numbers[i].num) ? contact.numbers[i].num : ''
                            input(type='tel' name='add[numbers]['+i+'][num]' id='add[numbers]['+i+'][num]' placeholder='Wpisz numer telefonu' value=num)
                        .field
                            - let type = (contact.numbers[i] && contact.numbers[i].type) ? contact.numbers[i].type : ''
                            select.ui.dropdown(name='add[numbers]['+i+'][type]' id='add[numbers]['+i+'][type]')
                                option(value='' selected=(type=='')) Wybierz rodzaj
                                option(value='0' selected=(type=='0')) Komórka
                                option(value='1' selected=(type=='1')) Służbowy
                                option(value='2' selected=(type=='2')) Domowy
                                option(value='3' selected=(type=='3')) Główny
                                option(value='4' selected=(type=='4')) Faks służbowy
                                option(value='5' selected=(type=='5')) Faks domowy
                                option(value='6' selected=(type=='6')) Pager
                                option(value='7' selected=(type=='7')) Inny
                .ui.divider
                .field
                    label(for='add[emails][0][email]') Adres e-mail
                - for (var i = 0; i < 5; i++)
                    .field
                        - let email = (contact.emails[i] && contact.emails[i].email) ? contact.emails[i].email : ''
                        input(type='email' name='add[emails]['+i+'][email]' id='add[emails]['+i+'][email]' placeholder='Wpisz adres email' value=email)
                .ui.divider
                .field
                    label(for='add[address][address1]') Adres kontaktowy
                .field
                    - let address1 = (contact.address.address1) ? contact.address.address1 : ''
                    input(type='text' name='add[address][address1]' id='add[address][address1]' placeholder='Adres kontaktowy' value=address1)
                .field
                    - let address2 = (contact.address.address2) ? contact.address.address2 : ''
                    input(type='text' name='add[address][address2]' id='add[address][address2]' placeholder='c.d.' value=address2)
                .two.fields
                    .four.wide.field
                        - let postcode = (contact.address.postcode) ? contact.address.postcode : ''
                        input(type='text' name='add[address][postcode]' id='add[address][postcode]' placeholder='00-000' value=postcode)
                    .twelve.wide.field
                        - let city = (contact.address.city) ? contact.address.city : ''
                        input(type='text' name='add[address][city]' id='add[address][city]' placeholder='Miejscowość' value=city)
                .ui.divider
                .field
                    label(for='add[job][position]') Praca
                .two.fields
                    .field
                        - let position = (contact.job.position) ? contact.job.position : ''
                        input(type='text' name='add[job][position]' id='add[job][position]' placeholder='Stanowisko' value=position)
                    .field
                        - let company = (contact.job.company) ? contact.job.company : ''
                        input(type='text' name='add[job][company]' id='add[job][company]' placeholder='Firma' value=company)
                .ui.divider
                button.ui.positive.fluid.button(type='submit') Zapisz kontakt
                    i.right.checkmark.icon
        else
            .ui.message= 'Kontaktu o id ' + req.params.contactId + ' nie znaleziono'
