extends ../layout

block content
    .ui.text.container.basic.segment
        if contact
            if req.query.success
                case req.query.success
                    when 'added'
                        .ui.success.message Dodano kontakt pomyślnie
                            i.close.icon
                    when 'updated'
                        .ui.success.message Zaktualizowano kontakt pomyślnie
                            i.close.icon
                            
            else if req.query.error
                case req.query.error
                    when 'couldNotUpdate'
                        .ui.error.message Nie udało się zaktualizować kontaktu
            .ui.segment
                .ui.image.header(style='display:block;margin:0')
                    - let gravatar = (contact.gravatar) ? contact.gravatar : '00000000000000000000000000000000'
                    img.ui.circular.image(src='https://www.gravatar.com/avatar/' + gravatar + '?d=mp&f=y')
                    .content #{contact.name.first} #{contact.name.second}
                        - let job = (contact.job.position && contact.job.company) ? contact.job.position + ' w ' + contact.job.company : (contact.job.position) ? contact.job.position : (contact.job.company) ? contact.job.company : ''
                        .sub.header= job
                    .ui.right.floated.dropdown.noclickparent(style='float:right')
                        i.ellipsis.vertical.icon
                        .menu
                            a.item(href='/contact/edit/'+contact._id)
                                i.edit.outline.icon
                                | Edytuj
                            a.red.negative.item(href='/contact/delete/'+contact._id style='color:#db2828')
                                i.red.trash.alternate.outline.icon
                                | Usuń

                .ui.divider

                .ui.tiny.header Telefony
                .ui.horizontal.list
                    if contact.numbers
                        each number in contact.numbers
                            if number
                                if number.num
                                    .item: a.ui.mini.labeled.icon.button(href='tel:'+number.num)
                                        i.phone.icon
                                        | #{number.num} &nbsp;
                                        if number.type
                                            case number.type
                                                when '0'
                                                    | (Komórka)
                                                when '1'
                                                    | (Służbowy)
                                                when '2'
                                                    | (Domowy)
                                                when '3'
                                                    | (Główny)
                                                when '4'
                                                    | (Faks służbowy)
                                                when '5'
                                                    | (Faks domowy)
                                                when '6'
                                                    | (Pager)
                                                when '7'
                                                    | (Inny)
                                                default
                                                    = number.type
                        
                .ui.divider

                .ui.tiny.header E-maile
                .ui.horizontal.list
                    if contact.emails
                        each mail in contact.emails
                            if mail
                                if mail.email
                                    .item: a.ui.mini.labeled.icon.button(href='mailto:'+mail.email)
                                        i.envelope.icon
                                        | #{mail.email}

                .ui.divider

                .ui.tiny.header Adres
                if contact.address
                    - let a1 = (contact.address.address1) ? contact.address.address1 : ''
                    - let a2 = (contact.address.address2) ? contact.address.address2 : ''
                    - let a3 = (contact.address.postcode) ? contact.address.postcode : ''
                    - let a4 = (contact.address.city) ? contact.address.city : ''
                    a(href='http://maps.google.com/?q='+a1+' '+a2+', '+a3+' '+a4 target='_blank').ui.icon.message #{a1}, #{a2}<br/>#{a3} #{a4}
        else
            if req.query.error
                if req.query.error == 'couldNotAdd'
                    .ui.error.message Nie udało się dodać kontaktu
                        i.close.icon
            .ui.message= 'Kontaktu o id ' + req.params.contactId + ' nie znaleziono'
            