extends layout

block content
    .ui.text.container.basic.segment
        if req.query.success
            case req.query.success
                when 'deleted'
                    if req.query.id
                        .ui.success.message Usunięto kontakt o id #{req.query.id}
                            i.close.icon
                    else
                        .ui.success.message Usunięto kontakt
                            i.close.icon
        else if req.query.error
            case req.query.error
                when 'couldNotDelete'
                    if req.query.id
                        .ui.error.message Nie udało się usunąć kontaktu o id #{req.query.id}
                            i.close.icon
                    else
                        .ui.error.message Nie udało się usunąć kontaktu
                            i.close.icon
        if contacts && contacts != null & contacts != ''
            .ui.segment
                .ui.divided.items.accordion
                    each contact in contacts
                        //- for (var i = 5; i > 0; i--)
                        .item.title
                            .content
                                .ui.right.floated.dropdown.noclickparent
                                    i.ellipsis.vertical.icon
                                    .menu
                                        a.item(href='/contact/view/'+contact._id)
                                            i.file.outline.icon
                                            | Pokaż
                                        a.item(href='/contact/edit/'+contact._id)
                                            i.edit.outline.icon
                                            | Edytuj
                                        a.red.negative.item(href='/contact/delete/'+contact._id style='color:#db2828')
                                            i.red.trash.alternate.outline.icon
                                            | Usuń
                                .ui.image.header
                                    - let gravatar = (contact.gravatar) ? contact.gravatar : '00000000000000000000000000000000'
                                    img.ui.circular.image(src='https://www.gravatar.com/avatar/' + gravatar + '?d=mp&f=y')
                                    .content #{contact.name.first} #{contact.name.second}
                                        - let job = (contact.job.position && contact.job.company) ? contact.job.position + ' w ' + contact.job.company : (contact.job.position) ? contact.job.position : (contact.job.company) ? contact.job.company : ''
                                        .sub.header= job
                                .extra
                                    - let tel = (contact.numbers && [...contact.numbers].shift() && [...contact.numbers].shift().num) ? [...contact.numbers].shift().num : null
                                    if tel
                                        a.ui.mini.labeled.icon.button.noclickparent(href='tel:'+tel)
                                            i.phone.icon
                                            = tel
                                    - let email = (contact.emails && [...contact.emails].shift() && [...contact.emails].shift().email) ? [...contact.emails].shift().email : null
                                    if email
                                        a.ui.mini.labeled.icon.button.noclickparent(href='mailto:'+email)
                                            i.envelope.icon
                                            = email
                        .content
                            .ui.stackable.grid

                                if contact.numbers
                                    .five.wide.column
                                        .ui.tiny.header
                                            i.phone.icon(style='vertical-align:initial;font-size:1em')
                                            | Telefony
                                        each number in contact.numbers
                                            if number
                                                if number.num
                                                    p #{number.num} &nbsp;
                                                        if number.type
                                                            case number.type
                                                                when '0'
                                                                    | (Komórka)
                                                                when '1'
                                                                    | (Służbowy)
                                                                when '2'
                                                                    | (Domowy)
                                                                when '3'
                                                                    | (Główny)
                                                                when '4'
                                                                    | (Faks służbowy)
                                                                when '5'
                                                                    | (Faks domowy)
                                                                when '6'
                                                                    | (Pager)
                                                                when '7'
                                                                    | (Inny)
                                                                default
                                                                    = number.type
                                
                                if contact.emails
                                    .five.wide.column
                                        .ui.tiny.header
                                            i.envelope.icon(style='vertical-align:initial;font-size:1em')
                                            | E-maile
                                        each mail in contact.emails
                                            if mail
                                                if mail.email
                                                    p  #{mail.email}

                                if contact.address
                                    .six.wide.column
                                        .ui.tiny.header
                                            i.home.icon(style='vertical-align:initial;font-size:1em')
                                            | Adres
                                        - let a1 = (contact.address.address1) ? contact.address.address1 : ''
                                        - let a2 = (contact.address.address2) ? contact.address.address2 : ''
                                        - let a3 = (contact.address.postcode) ? contact.address.postcode : ''
                                        - let a4 = (contact.address.city) ? contact.address.city : ''
                                        p #{a1}, #{a2}<br/>#{a3} #{a4}

                                .sixteen.wide.column: a(href='/contact/view/'+contact._id).ui.mini.fluid.positive.button Pokaż kontakt
                                    i.right.chevron.icon
        else
            .ui.message(style='text-align:center')
                p: .ui.grey.sub.header Brak kontaktów
                .ui.divider
                a.ui.fluid.mini.button(href='/contact/add') Dodaj kontakt
                    i.right.add.icon
                        