doctype html
html
  head
    title= ((title) ? title + ' - ' : '') + 'Kontakty'

    meta(charset='utf-8')    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/lib/semantic-ui/2.4.2/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .ui.inverted.attached.borderless.mini.menu
      .item.header Kontakty
      .right.menu
        if (authenticated)
          .item= 'Witaj, ' + req.user.name + ' ' + req.user.surname
          .item: a.ui.inverted.button(href='/wyloguj') Wyloguj
    .ui.inverted.green.attached.borderless.large.menu
      if (authenticated)
        a(href="/").item Strona główna
        a(href="/contact/add").item Dodaj kontakt
      .right.menu
        if (!authenticated)
          .item: a.ui.inverted.button(href='/logowanie') Logowanie
          .item: a.ui.inverted.button(href='/rejestracja') Rejestracja
    

    block content
    script(src='/lib/jquery/3.3.1/jquery.min.js')
    script(src='/lib/semantic-ui/2.4.2/semantic.min.js')
    script(src='/scripts/main.js')
