extends layout

block content
	.ui.text.container.basic.segment
		form(method='post', action='/logowanie', enctype='multipart/form-data').ui.form.segment
			.ui.header= title
				.sub.header Użyj poniższego pormularza, aby się zalogować
			.field
				label(for='username') Username:
				input#username.form-control(type='text', placeholder='Enter Username', name='username')
			.field
				label(for='password') Password:
				input#password.form-control(type='password', placeholder='Enter Password', name='password')
			.field
				button.ui.fluid.positive.button(type='submit') Login
				p.ui.center.aligned.grey.sub.header Nie masz konta?&nbsp;
					a(href='/rejestracja') Zarejestruj się
							