extends layout

block content
	.ui.text.container.basic.segment
		form(method='post', action='/rejestracja', enctype='multipart/form-data').ui.form.segment
			.ui.header Rejestracja
				.sub.header Zarejestruj się używając poniższego formularza
			.two.fields
				.field
					label(for='name') Imię
					input#name(type='text', placeholder='Wpisz imię', name='name', value=((name) ? name : ''))
				.field
					label(for='name') Nazwisko
					input#name(type='text', placeholder='Wpisz nazwisko', name='surname', value=((surname) ? surname : ''))
			.field
				label(for='email') Email
				input#email(type='email', placeholder='Wpisz email', name='email', value=((email) ? email : ''))
			.field
				label(for='username') Nazwa użytkownika
				input#username(type='text', placeholder='Wpisz nazwę użytkownika', name='username', value=((username) ? username : ''))
			.two.fields
				.field
					label(for='password') Hasło
					input#password(type='password', placeholder='Wpisz hasło', name='password')
				.field
					label(for='confirmPassword') Potwierdź hasło
					input#confirmPassword(type='password', placeholder='Wpisz hasło ponownie', name='confirmPassword')
			.ui.error.message(class=((errors) ? 'visible': ''))
				if errors
					ul
						each error, i in errors
							li #{error.msg}
			.field
				button.ui.fluid.positive.button(type='submit') Zarejestruj
				p.ui.center.aligned.grey.sub.header Masz już konto?&nbsp;
					a(href='/logowanie') Zaloguj się
							